include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml

recursive-include Asgard *.py *.pyi *.yaml *.yml *.json *.md
recursive-exclude Asgard_Test *
recursive-exclude build *
recursive-exclude sdks *
recursive-exclude *.egg-info *

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
